<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, <%= name %></h1>
        
        <form action="/shortUrls" method="POST">
            <div class="form-row">
                <input required placeholder="Enter URL to shorten" type="url" name="fullUrl" id="fullUrl">
                <input type="text" placeholder="Custom Short URL" name="shortUrl" id="shortUrl">
                <input type="number" placeholder="Notify at Clicks" name="clickCountsToNotify" id="clickCountsToNotify">
                <!--For expiration date, prevent the users from entering the value from keyboard using onkeydown event-->
                <!--This will make sure user can only click to select the date and the expiration date for the links will be limited-->
                <input type="date" placeholder="Expiration Date (optional)" name="expirationDate" id="expirationDate" onkeydown="return false"> 
                <button type="submit">Shorten</button>
            </div>
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>Details</th>
                    <th>Delete</th>
                    <th>Copy</th>
                </tr>
            </thead>
            <tbody id="urlTableBody">
                <% urls.forEach(shortUrl => { %>
                    <tr style="height: 20px;">
                        <td style="vertical-align: middle;"><a href="<%= shortUrl.fullUrl %>"><%= shortUrl.fullUrl %></a></td>
                        <td style="vertical-align: middle;"><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
                        <td style="vertical-align: middle;"><%= shortUrl.clicks %></td>
                        <td style="vertical-align: middle;">
                            <form action="/qr-code" method="post">
                                <input type="hidden" name="shortUrl" value="<%= shortUrl.shortUrl %>">
                                <button type="submit">
                                    <i class="fas fa-external-link-alt"></i>
                                </button>
                            </form>
                        </td>
                        <td style="vertical-align: middle;">
                            <form action="/delete-url" method="post">
                                <input type="hidden" name="shortUrl" value="<%= shortUrl.shortUrl %>">
                                <button type="submit" class="delete-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="copy-button" data-clipboard-text="http://localhost:8800/<%= shortUrl.shortUrl %>">
                                <i class="fas fa-copy"></i>
                            </button>
                        </td> 
                    </tr>
                <% }) %>
            </tbody>


            <script>
                // Set max expiration date to 2 weeks from today
                const expirationDateInput = document.getElementById('expirationDate');
        
                const today = new Date();
                const maxDate = new Date();
                maxDate.setDate(today.getDate() + 14); // Set max date to 14 days in the future
        
                // Format date to YYYY-MM-DD
                const formatDate = (date) => {
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0'); // Add leading zero
                    const day = String(date.getDate()).padStart(2, '0'); // Add leading zero
                    return `${year}-${month}-${day}`;
                };
        
                expirationDateInput.setAttribute('min', formatDate(today));
                expirationDateInput.setAttribute('max', formatDate(maxDate));
            </script>
        </table>
        
        <form action="/logout?_method=DELETE" method="POST" class="logout-form">
            <button type="submit" class="logout-button">Log Out</button>
        </form> 
    </div>

    <script>
        // Function to update the table with new data
        function updateTable(urls) {
            const tableBody = document.querySelector('tbody');
            tableBody.innerHTML = ''; // Clear existing table rows
            
            urls.forEach(url => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><a href="${url.fullUrl}">${url.fullUrl}</a></td>
                    <td><a href="${url.shortUrl}">${url.shortUrl}</a></td>
                    <td>${url.clicks}</td>
                    <td><a href="/qr-code?fullUrl=${encodeURIComponent(url.fullUrl)}&shortUrl=${encodeURIComponent(url.shortUrl)}&clicks=${url.clicks}"><i class="fas fa-external-link-alt"></i></a></td>
                    <td>
                        <form action="/delete-url" method="post">
                            <input type="hidden" name="shortUrl" value="${url.shortUrl}">
                            <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                    <td>
                        <button class="copy-button" data-clipboard-text="http://localhost:8800/${url.shortUrl}"><i class="fas fa-copy"></i></button>
                    </td>
                `;
                tableBody.appendChild(row);
            });
        }


        // Function to apply "copy to clipboard" functionality
        function applyCopyFunctionality() {
            const copyButtons = document.querySelectorAll('.copy-button');

            copyButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const shortUrl = button.getAttribute('data-clipboard-text');
                    navigator.clipboard.writeText(shortUrl).then(() => {
                        console.log('Short URL copied to clipboard!');
                    }).catch(err => {
                        console.error('Error copying short URL to clipboard:', err);
                    });
                });
            });
        }

        // Detect when the page is restored from the cache (via the back button)
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) { // Browser back button triggers the 'persisted' event
                fetch('/fetch-urls') // Use the new data endpoint
                    .then(response => response.json())
                    .then(data => {
                        updateTable(data.urls); // Update the table with new data
                    })
                    .catch(err => console.error('Error fetching updated data:', err));
            }
        });


        // Initial application of the copy functionality when page loads
        applyCopyFunctionality();
    </script>
    
</body>
</html>
